<div style="margin: 24px auto; max-width: 500px">
  <h1>Todos</h1>
  <div style="display: flex; gap: 16px">
    <input
      [(ngModel)]="newTodoTitle"
      placeholder="New todo title"
      style="height: 36px; padding: 0 12px; flex-grow: 1"
    />
    <button (click)="addTodo()" style="padding: 0 12px">Add Todo</button>
  </div>
  <div style="margin: 24px 0; border-top: 1px solid #ccc">
    <div
      *ngFor="let todo of todos"
      style="
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
      "
    >
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="updateTodo(todo)"
        style="margin-right: 16px"
      />
      {{ todo.title }}
      <button
        (click)="deleteTodo(todo.id)"
        style="margin-left: auto; padding: 4px 8px"
      >
        Delete
      </button>
    </div>
  </div>
</div>
